<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Finsta</title>
</head>
<body>
    <%- include('./partials/header') %>

    <main class="edit-post">

        <div id="edit-head-bar">
            <h2>Edit post</h2>
            <p><%= post.name; %></p>
        </div>
        <img src="<%=post.img; %>" alt="Finsta pic" height="614" width="614" class="post-img">
        
        <form action="/<%= post._id %>?_method=PUT" method="POST">
        Caption: <input type="textarea" name="caption" value="<%=post.caption%>" /><br />
        <input type="submit" value="Submit Changes" />
        </form>

        <nav>
            <a href="/">Cancel</a>
        </nav>

    </main>

</body>
</html>