<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/header') %>

    <main class="row">
        <div class="container">

            <div id="edit-head-bar">
                <h2>Edit post</h2>
                <h4><%= post.name; %></h4>
            </div>
            <img src="<%=post.img; %>" alt="Finsta pic" class="responsive-img">
            
            <form action="/<%= post._id %>?_method=PUT" method="POST">
            Caption: <input type="textarea" name="caption" value="<%=post.caption%>" /><br />
            <input class="waves-effect waves-light btn" type="submit" value="Done" />
            </form>
    
            <div>
                <a class="black-text" href="/">Cancel</a>
            </div>

        </div>
    </main>

</body>
</html>