<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Finsta</title>
</head>
<body>
    <%- include('./partials/header') %>
    <% console.log(post) %>
    <main>
        <header>
            <div class="profile-avi">
                <img src="<%= post.avi %>" alt="<%= post.name %>" height="150" width="150" style="border-radius: 50%;">
            </div>
            <section>
                <h2><%= post.name %></h2>
                <h2><%= post.bio %></h2>
            </section>
        </header>

        <div class="profile-content">
            <img src="<%= post.img %>" alt="<%= post.name %>" height="293" width="293">
        </div>

    </main>
</body>
</html>